body
{
background-attachment:fixed;
}
a
{
text-decoration:none;
color:#fafad2;
}
.text:hover
{
box-shadow:3px 2px 6px #451233 ;
border-radius:5px;
color:#fff;
background-color:#450013;
}
a:hover
{
color:#1676a8;

}
#outerdiv
{
width:1200px;
height:auto;
}
#block1
{
width:1000px;
height:125px;
}
#logo
{
width:259px;
height:108px;
margin-top:20px;
margin-left:10px;
background-image:url(../images/logo.png);
float:left;
}
#menu
{
width:1200px;
height:55px;
background-color:#d2691e;
border-radius:5px;
margin-top:5px;
border:1px solid #d2691e;
box-shadow:6px 4px 5px #000;
}
.menutext
{
width:170px;
height:50px;
font-size:16px;
color:#fafad2;
font-family:Comic Sans MS;
float:left;
padding-top:7px;
margin-left:1px;
}
#block2
{
width:1050px;
height:850px;
}
#home1
{
width:700px;
height:280px;
float:right;
}
#bg1
{
width:1000px;
height:280px;
}
#welcome
{
width:1050px;
height:35px;
background-color:#d2691e;
font-size:20px;
font-family:Comic Sans MS;
padding:10px;
color:#fafad2;
border-radius:5px;
}
#HomeText
{
width:200px;
height:500px;
font-size:16px;
color:#b8201b;
font-family:Mongolian Baiti;
float:left;
text-align:justify;
padding:5px;
line-height:30px;
word-spacing:1px;
}
#front
{
width:450px;
height:700px;
float:left;
margin-left:40px;
}

#menu1
{
width:250px;
height:750px;
float:left;
border-right:2px solid;
border-color:brown;
margin-top:10px;
}
.button
{
width:230px;
height:35px;
background-color:#d2691e;
border-radius:4px;
margin-top:7px;
font-size:18px;
color:brown;
padding-top:10px;
font-family:Arial;
}
#logo1
{
width:800px;
height:100px;
float:right;
}
#block3
{
width:1000px;
height:70px;
margin-top:30px;
float:left;
}
.img2
{
width:152px;
height:100px;
float:left;
margin-left:10px;
}
.img1
{
width:100px;
height:100px;
float:right;
margin-right:50px;

}
#home2
{
width:790px;
height:750px;
float:right;
margin-top:10px;
}
#home3
{
width:790px;
height:830px;
float:right;
margin-top:10px;
}
#accomodation1
{
width:790px;
height:400px;
}
.acc1
{
width:750px;
height:35px;
background-color:#d2691e;
border-radius:5px;
margin-top:10px;
font-size:20px;
color:#fafad2;
font-family:Comic Sans MS;
padding:10px;
box-shadow:5px 4px 6px brown;
}
#room
{
width:250px;
height:350px;
float:left;

}
.room1
{
width:250px;
height:160px;
margin-top:10px;
}
#acctext
{
width:500px;
height:350px;
float:right;
font-size:15px;
color:brown;
font-family:Mongolian Baiti;
text-align:justify;
line-height:20px;
}
.tarrif1
{
margin-top:20px;
}
.tarrif2
{
margin-top:5px;
color:#e3d32d;
}
#acc2
{
width:790px;
height:380px;
}
.acc3
{
margin-top:10px;
width:790px;
height:160px;
}
.room2
{
width:250px;
height:160px;
float:left;

}
#roomsize
{
width:180px;
height:120px;
float:left;
font-family:Arial;
text-align:justify;
padding-left:25px;
color:#fff;
font-size:12px;
margin-left:15px;
border-radius:5px;
background-color:brown;
margin-top:10px;
box-shadow:5px 3px 8px #651234;
}
#block4
{
width:810px;
height:1070px;
float:right;
margin-right:30px;
}
#aminities
{
width:810px;
height:330px;
border:2px solid;
border-color:black;
margin-top:10px;
background-color:#fff;
}
#text1
{
width:395px;
height:330px;
float:left;
}
#text2
{
width:395px;
height:330px;
float:right;
}
.text
{
font-family:Mongolian Baiti;
font-size:15px;
font-weight:500;
line-height:30px;
text-align:left;
padding-left:10px;
color:brown;
}
#acc5
{
width:810px;
height:430px;
margin-top:5px;
}
#text3
{
width:405px;
height:430px;
float:left;
}
#acc4
{
width:810px;
height:500px;
border:2px solid;
border-color:black;
margin-top:10px;
background-color:#fff;
}
#text4
{
width:405px;
height:430px;
float:right;
}
#Timetext
{
width:780px;
height:30px;
font-family:Arial;
color:#fafad2;
padding:10px;
font-size:15px;
background-color:#d2691e;
margin-top:14px;
border-radius:5px;
line-height:20px;
word-spacing:2px;
box-shadow:4px 3px 5px #d269e1;
}
#note
{
width:790px;
height:75px;
font-family:Arial;
color:#fafad2;
padding:10px;
font-size:15px;
background-color:#d2691e;
margin-top:14px;
border-radius:5px;
line-height:20px;
word-spacing:2px;
box-shadow:4px 3px 6px #456076;
}
#block
{
width:1150px;
height:1335px;
}
.gallery
{
width:890px;
height:1335px;
margin-top:10px;
float:right;
}
.gallery1
{
width:890px;
height:110px;
margin-top:15px;
}
.gallery2
{
width:190px;
height:110px;
margin-left:18px;
float:left;
border:4px solid #fafad1;
border-radius:3px;
}
#note1
{
width:790px;
height:35px;
background-color:#d2691e;
border-radius:5px;
margin-top:20px;
font-size:20px;
color:#fafad2;
font-family:Comic Sans MS;
padding:10px;
margin-right:50px;
box-shadow:5px 4px 6px brown;
}
.Safari
{
width:790px;
height:30px;
font-size:18px;
color:#fafad2;
font-family:Comic Sans MS;
background-color:#d2691e;
}
.Safari1
{
width:750px;
height:85px;
font-size:14px;
color:#000;
font-family:Arial;
text-align:justify;
}
.Safari2
{
width:790px;
height:300px;
border:2px solid;
margin-top:25px;
}
#block5
{
width:1150px;
height:1750px;
}
#Transportation
{
width:790px;
height:350px;
border:2px solid;
margin-top:25px;
}
#block6
{
width:1150px;
height:790px;
}
#Transport1
{
width:890px;
height:790px;
float:right;
margin-top:10px;
background-color:black;
}
.Transport2
{
width:800px;
height:110px;
margin-top:20px;
}
.Transport3
{
width:250px;
height:110px;
margin-left:15px;
float:left;
}
#block7
{
width:1100px;
height:1300px;
}
#book1
{
width:750px;
height:305px;
float:right;
margin-top:10px;
}
#book2
{
width:750px;
height:120px;
margin-top:10px;
}
#book3
{
width:750px;
height:150px;
margin-top:10px;
}

.bookingtable
{
border:2px solid;
font-family:Comic Sans MS;
font-size:13px;
color:#781354;
border-color:#fff;
box-shadow:4px 3px 6px #660034;
border-top-left-radius:10px 10px;
border-top-style:outset;
border-bottom-right-radius:10px 10px;

}
input
{
border:1px solid;
border-color:purple;
box-shadow:4px 3px 6px #660034;
}
.book12
{
width:180px;
height:70px;
float:left;
margin-left:15px;
padding:25px;
}
.book31
{
width:200px;
height:120px;
font-family:Arial;
font-size:15px;
color:brown;
text-align:justify;
float:left;
margin-left:10px;
padding:15px;
}
#book4
{
width:800px;
height:500px;
float:right;
}
.tab1
{
width:800px;
height:100px;
margin-top:10px;
}
.tab2
{
width:800px;
height:125px;
margin-top:10px;
}
#tab4
{
width:800px;
height:400px;
border-color:purple;
}
#contact1
{
width:890px;
height:1000px;
float:right;
margin-top:20px;
}
#contact2
{
width:800px;
height:300px;
background-color:red;
margin-top:10px;
}
.contact3
{
width:800px;
height:80px;
text-align:left;
}
.contacttext
{
font-family:Arial;
font-size:15px;
color:black;

}
#contact
{
width:800px;
height:390px;
}
#contact4
{
width:800px;
height:200px;
}
/*Admin CSS Starts here...*/
.outerdiv1
{
width:1000px;
height:auto;
}
#admin
{
width:200px;
height:50px;
font-family:Stencil;
font-size:30px;
text-align:left;
color:#761255;
text-decoration:blink;
text-shadow: 2px 3px 6px #005712;
}
#log
{
width:400px;
height:200px;
border:10px solid;
border-top-left-radius:80px 80px;
border-bottom-right-radius:80px 80px;
border-color:#790012;
margin-top:100px;
}
.table1
{
color:#fff;
font-size:15px;
font-family:Arial;
font-weight:700;
}
#sub
{
background-color:black;
color:#fff;
width:100px;
height:25px;
}
.grad
{
background:-webkit-linear-gradient(-90deg,brown,white);
background:-moz-linear-gradient(-90deg,brown,white);
background:-o-linear-gradient(-90deg,brown,white);
background:linear-gradient(-90deg,brown,white);
}

#Admintext
{
width:1000px;
height:50px;
font-family:Impact;
color:#370811;
font-size:30px;
word-spacing:10px;
letter-spacing:1px;
text-align:center;
}
#adminlogo
{
width:1000px;
height:108px;
margin-top:10px;
background-image:url(../images/logo.png);
background-repeat:no-repeat;
background-color:;
}
#adminmenu
{
width:200px;
height:750px;
background-color:#000;
margin-top:10px;
float:left;
}
.menutext1
{
width:200px;
height:40px;
font-family:Comic Sans MS;
color:brown;
font-size:15px;
padding-top:10px;
border-bottom:5px solid;
border-color:#fff;
border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
}
#adminmenu1
{
width:1000px;
height:50px;
margin-top:10px;
border-bottom:5px solid;
border-color:#790012;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
background-color:#FFE4B5;
}
.menutext2
{
width:140px;
height:40px;
font-family:Comic Sans MS;
color:brown;
font-size:15px;
padding-top:10px;
float:left;
}