/*Admin CSS Starts here...*/
a
{
text-decoration:none;
color:brown;
}
a:hover
{
box-shadow:3px 2px 6px #451233 ;
border-radius:5px;
color:#fff;
background-color:#450013;
}
.outerdiv1
{
width:1200px;
height:auto;
}
#admin
{
width:200px;
height:50px;
font-family:Stencil;
font-size:30px;
text-align:left;
color:#761255;
text-decoration:blink;
text-shadow: 2px 3px 6px #005712;
}
#log
{
width:400px;
height:200px;
border:10px solid;
border-top-left-radius:80px 80px;
border-bottom-right-radius:80px 80px;
border-color:#790012;
margin-top:100px;
}
.table1
{
color:#fff;
font-size:15px;
font-family:Arial;
font-weight:700;
}
.sub
{
background-color:black;
color:#fff;
width:100px;
height:25px;
margin-top:5px;
}
.grad
{
background:-webkit-linear-gradient(-90deg,brown,white);
background:-moz-linear-gradient(-90deg,brown,white);
background:-o-linear-gradient(-90deg,brown,white);
background:linear-gradient(-90deg,brown,white);
}
.table
{
background-color:#72145b;
box-shadow:5px 4px 7px #672389;
font-family:Arial;
font-size:15px;
color:#fff;
}
#Admintext
{
width:1200px;
height:50px;
font-family:Impact;
color:#370811;
font-size:30px;
word-spacing:10px;
letter-spacing:1px;
text-align:center;
}
#adminlogo
{
width:1200px;
height:108px;
margin-top:10px;
background-image:url(../images/logo.png);
background-repeat:no-repeat;
background-color:;
}
#adminmenu
{
width:200px;
height:750px;
background-color:#000;
margin-top:10px;
float:left;
}
.menutext1
{
width:200px;
height:40px;
font-family:Comic Sans MS;
color:brown;
font-size:15px;
padding-top:10px;
border-bottom:5px solid;
border-color:#fff;
border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
}
#adminmenu1
{
width:1200px;
height:50px;
margin-top:10px;
border-bottom:5px solid;
border-color:#790012;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
background-color:#FFE4B5;
}
.menutext2
{
width:130px;
height:35px;
font-family:Comic Sans MS;
color:brown;
font-size:15px;
padding-top:10px;
float:left;
}
.block1
{
width:1000px;
height:750px;
margin-top:10px;
}
.block2
{
width:1000px;
height:50px;
}
.button
{
width:200px;
height:30px;
background-color:#e5980a;
margin-left:200px;
float:left;
padding-top:10px;
border:3px solid;
border-radius:3px;
border-color:#e9f194;
color:#fff;
}